/* Semikolon v1.0 | MIT License | https://github.com/rubenmayayo/Semikolon */
@import 'normalize.css';

$columns: 12;

@mixin layout($total_width, $separation) {

	.row {
		width: $total_width;
	}

	[class^="col"] {
		margin: 0 $separation 0 $separation;
	}
	
	@for $i from 1 through $columns {

		$column_size: $i*$total_width/$columns - 2*$separation;

		.col#{$i} {
			width: $column_size;
		}
	}

	@for $i from 1 to $columns {
	  
	 	.offset#{$i} {
	 		margin-left: $i*$total_width/$columns + $separation ;
	 	}
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 300px;
}

[class^="col"],[class*=" col"] {
	margin: 10px 0 0 0;
	width: 300px;
}

@media screen and (min-width:480px) and (max-width:767px) {
	.row {
		width:400px;
	}
	[class^="col"],[class*=" col"]{
		width:400px;
	}
}

@media screen and (min-width:768px) and (max-width:959px) {
	@include layout(768px, 14px);
}
@media screen and (min-width:960px) and (max-width: 1199px){
	@include layout(960px, 16px);
}
@media screen and (min-width: 1200px) {
	@include layout(1200px, 20px);
}